<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BI系统</title>
  <link rel="stylesheet" href="./styles/index.css" type="text/css">
</head>
<body>
  <div class="page" >
    <div class="page-tools">1</div>
    <div class="page-wrap">
      <div class="btn-groups" id="btnGroups" >
        <!-- 此处遍历生成左侧内容 -->
      </div>
    <div class="canvas" id="canvas">
      <div class="wrap-tab" >test</div>
      <div class="canvas-wrap" id="canvas-wrap" >
    <div class="wrap" id="wrap" >
      <!-- <child-node
        v-for="(item, index) in childNodes"
        :key="index"
        :child-item="{ ...item, index }"
        @click.native="handleClick(item, index)"
      /> -->
      <!-- <div class="commonModule" draggable="false" >
        <div class="moduleShape"
          @mouseout="handleOut()"
          @mousedown="handleDown(childItem, $event)"
          @click.stop="handleClick"
        >
          {{childItem.name}}
        </div>
      </div> -->
    </div> 
  
  
      </div>
    </div>
    <div class="details">
      <!-- 属性栏固定组 -->
      <div class="common-group">
        <div class="r-item" >检视: {{attrsGroup.title}}</div>
        <input type="text" class="r-input" @blur="handleblur(attrsGroup.index)" v-model="attrsGroup.name" />
        <div class="r-btns">
          <div :class="{ active: !isActive }" @click="isActive = true" >属 性</div>
          <div :class="{ active: isActive }" @click="isActive = false">事 件</div>
        </div>
      </div>
      <!-- 属性栏变化组 -->
      <div class="change-group">
        <div class="pos-group" >
          <div class="r-pos">位置，<span>尺寸</span> </div>
          <div class="r-pos r-pos-detail">
            <div><span>W：</span><input class="r-pos-input" type="text" @blur="handleblur(attrsGroup.index)" v-model="attrsGroup.width" >
            </div>
            <div><span> H：</span><input class="r-pos-input" type="text" @blur="handleblur(attrsGroup.index)" v-model="attrsGroup.height"></div>
          </div>
          <div class="r-pos r-pos-detail">
            <div><span>X：</span><input class="r-pos-input" type="text" @blur="handleblur(attrsGroup.index)" v-model="attrsGroup.left" ></div>
            <div><span>Y：</span><input class="r-pos-input" type="text" @blur="handleblur(attrsGroup.index)" v-model="attrsGroup.top"></div>
          </div>
        </div>
      </div  >
    </div>
  </div>
  <script type="text/javascript">
    var width = 1200
    var height = 900
    var btns = [
      {
        icon: '',
        title: '直线',
        ControlType: 'line',
        width: 200,
        height: 40,
        zIndex: 10,
      },
      {
        icon: '',
        title: '矩形',
        ControlType: 'rectangle',
        width: 200,
        height: 140,
        zIndex: 10,
      },
      {
        icon: '',
        title: '图片',
        ControlType: 'image',
        width: 80,
        height: 50,
        zIndex: 10,
      },
      {
        icon: '',
        title: '文本',
        ControlType: 'text',
        width: 100,
        height: 50,
        zIndex: 10,
      },
      {
        icon: '',
        title: '按钮',
        ControlType: 'btn',
        width: 100,
        height: 40,
        zIndex: 10,
      }
    ]
    var childNodes = []
    window.addEventListener("load",handler,false);
    function handler () {
      // 左侧部分拖拽源对象
      var btnGroups = document.getElementById('btnGroups')
      var str = `<div class="l-title" >组件箱</div>     
        <div class="l-title l-subtitle">标准组件</div>`  //拼接字符串
      btns.forEach((item, index) => {
        str += `<div class="btn" draggable="true" data-id="${index}">${item.title}</div>`
      })
      btnGroups.innerHTML = str
      // dragStart事件
      btnGroups.addEventListener("dragstart",function(e){
        if(e.target.className == "btn"){
          e.dataTransfer.setData("data", JSON.stringify(e.target.dataset.id));
          e.dataTransfer.effectAllowed = 'copyMove'
        }
      }, false)
      // drag事件
      btnGroups.addEventListener("drag",function(e){
        e.preventDefault()
      }, false)
      // 中间画布部分拖拽目标对象
      var canvasWrap = document.getElementById('canvas-wrap')
      // dragovers事件
      canvasWrap.addEventListener('dragover', function (event) {
        // event.preventDefault()
        if (event.target.classList.contains('allowed')) {
          event.dataTransfer.dropEffect = 'move'
        } else {
          event.dataTransfer.dropEffect = 'copy'
        }
        event.preventDefault()
      }, false)
      // drop事件
      canvasWrap.addEventListener('drop', function (event) {
        // 父级元素id = canvasWrap的网页可见区域上、左的距离
        let fatherY = canvasWrap.offsetTop
        let fatherX = canvasWrap.offsetLeft
  
        // 拖动元素距离网页可见区域上、左的距离
        let targetX =  event.clientX
        let targetY =  event.clientY
         // 获取dragstart事件传递的参数
        let id = JSON.parse(event.dataTransfer.getData('data'))
        let item = btns[id]
        // 清除dragstart事件传递的参数
        event.dataTransfer.clearData()
        childNodes.push({
          title: item.title,
          ControlType: item.ControlType,
          Name: item.ControlType + childNodes.length,
          commonStyle: {
            Left: targetX - fatherX,
            Top: targetY - fatherY,
            Width: item.width,
            Height: item.height,
            ZIndex: item.zIndex
          },
          pointList: ['lt', 'rt', 'lb', 'rb', 'l', 'r', 't', 'b'],
        })

        // 推拽后生成元素部分
        let wrap = document.getElementById('wrap')
        let html = ''
        if (childNodes.length !== 0) {
          childNodes.forEach((item, index) => {
            html += `<div class="commonModule" draggable="false" data-wrap-id="${index}"
              onmouseout="handleOut()"
              onmousedown="handleDown(item, $event)"
            style="
              left: ${item.commonStyle.Left}px;
              top: ${item.commonStyle.Top}px;
              width: ${item.commonStyle.Width}px;
              height: ${item.commonStyle.Height}px;
              zIndex: ${item.commonStyle.ZIndex};
            ">
              <div class="moduleShape">
                ${item.Name}
              </div>
            </div>`
          })
        }
        wrap.innerHTML = html
        }, false)
    }

    function handleOut () {}

    function handleDown () {
    }

    function handleClick() {
      //  alert('you click !!')
     }
  
  </script>
</body>
</html>