.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  color: #fff;
  z-index: 9999;
  background: rgba(0,0,0,0.6);
  display: none;
}
.popup-wrap {
    position: relative;
    margin: 0 auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    margin-top: 24vh;
    width: 1020px;
}
/* 头部样式 */
.popup-head {
  text-align: center;
  padding: 20px 20px 10px;
  background: #409EFF;
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
/* 中间样式 */
.popup-body {
  padding: 20px 20px;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}
.popup-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-select, .popup-input {
  padding-right: 30px;
  cursor: pointer;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 120px;
  margin-right: 10px;
}
.popup-form {
  text-align: center;
}
.form-wrap {
  width: 50%;
  margin: 0 auto;
}
.form-item {
  height: 36px;
  line-height: 36px;
  display: flex;
}
.form-item-label {
  width: 80px;
  display: inline-block;
  text-align: left;
}
.form-input {
  width: calc(100% - 80px);
}
.form-color {
  display: flex;
  align-items: center;
}

/* 底部样式 */
.popup-footer {
  display: flex;
  justify-content: center;
  padding: 10px 20px 20px;
  box-sizing: border-box;
}
.popup-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 9px 15px;
  font-size: 14px;
  border-radius: 4px;
  user-select: none;
}
.popup-cancel:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.popup-confirm {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.popup-confirm:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.popup-table {
  border: 1px solid #ebeef5;
  margin: 15px 0;
}

/* table */
table {
  width: 100%;
}
table thead {
  color: #909399;
  font-weight: 500;
}
table td, table th {
  padding: 12px 0;
  min-width: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  text-align: left;
  /* border-bottom: 1px solid #ebeef5; */
}
table tr {
  background-color: #fff;
}